// COLORS
$straw: #fff8e6;
$yellow: #FFF8E6;
$darkyellow: #FAB400;
$lightyellow: #FFDE88;
$orange: #FFC327;
$lightorange: #FFE7A9;
$marine: #C9EFF8;
$ashen: #C2C2CB;
$lilac: #D7D6FF;
$azure: #E6EEFF;
$lightblue: #74A3FF;
$clearblue: #a5c4ff;
$blue: #5b93ff;
$paleblue: #d6e4ff;
$pomegranate: #002F8A;
$lightpomegranate: #0047D0;
$black: #0F0F0F;
$basicblack: #000000;
$white: #FBFBFB;
$basicwhite: #ffffff;
$grey: #F5F6F9;
$gray: #E6E6EA;
$darkgrey: #4A4A57;
$lightgrey: #9A9AA9;
$liquid: #808093;
$dusky: #d7d7dd;
$pure: #f5f5f6;

// SHADOWS
$shadow: 20px 40px 40px 10px rgba(23, 23, 23, 0.08);
$shadow2: 0px 4px 25px rgba(0, 0, 0, 0.15);

// FONTS
$inter: "Inter", sans-serif;
$source: "Source Sans Pro";